<section class="container">
  <header class="header d-flex">
    <div class="buscar-pensamentos">
      <input
        type="search"
        class="filtro"
        placeholder="O que você procura?"
        autofocus
        [(ngModel)]="filtro"
        (keyup)="pesquisarPensamentos()"
      />
      <span class="material-symbols-outlined"> find_in_page </span>
    </div>
    <h2 class="ff-inter">{{ titulo }}</h2>
    <div class="botoes">
      <button class="botao" (click)="exibirMuralCompleto()" routerLink="/">Mural completo</button>
      <button class="botao" (click)="exibirFavoritos()">Meus favoritos</button>
    </div>
    <button routerLink="/criarPensamento" class="botao">Adicionar pensamento</button>
  </header>

  @if(listaPensamentos.length > 0){

  <div class="mural">
    @for (pensamento of listaPensamentos; track pensamento.id) {
    <app-pensamento [pensamento]="pensamento" [listaFavoritos]="listaFavoritos"></app-pensamento>
    }
  </div>
  <app-botao-carregar-mais
    [existemMaisPensamentos]="existemMaisPensamentos"
    (click)="carregarMaisPensamentos()"
  ></app-botao-carregar-mais>
  } @else {
  <div class="ff-inter sem-pensamentos">
    <p>Ainda não há pensamentos cadastrados!</p>
  </div>
  }
</section>
